<div class="bg-image">
  <div class="centered">Welcome to Farm Scheme.</div>
  <br>
  <div class="centered-bottom yourClass">A Best Place To Sell and Buy Crops.</div>
  <!-- <div class="centered-bottom">Let's experience the digital and modern agriculture and practices.</div> -->
</div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>agriculture</mat-icon> FARM SCHEME
    </a>
    <ul>
      <li>
        <a (click)="handleSignupAction()">Register</a>
      </li>
      <li>
        <a (click)="handleEditAction()">Login</a>
      </li>
      <li>
        <a (click)="scrollToBottom()">About</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @Farm Scheme</h2>
</div>