<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About US</h2>
        </div>
        <div style="font-size: 15px;" id="about">
        The role of infrastructure is crucial for agriculture development and for taking the production dynamics to the
        next level. It is only through the development of infrastructure, especially at the post harvest stage that the
        produce can be optimally utilized with opportunity for value addition and fair deal for the farmers. Development
        of such infrastructure shall also address the vagaries of nature, the regional disparities, development of human
        resource and realization of full potential of our limited land resource.

        In view of above, the Hon’ble Finance Minister announced on 15.05.2020, 1 lakh crore Agri Infrastructure Fund
        for farm-gate infrastructure for farmers. Financing facility of Rs. 1,00,000 crore will be provided for funding
        Agriculture Infrastructure Projects at farm-gate & aggregation points (Primary Agricultural Cooperative
        Societies, Farmers Producer Organizations, Agriculture entrepreneurs, Start-ups, etc.). Impetus for development
        of farm gate & aggregation point, affordable and financially viable Post Harvest Management infrastructure.

        Accordingly, DA&FW has formulated the Central Sector Scheme to mobilize a medium - long term debt financing
        facility for investment in viable projects relating to postharvest management Infrastructure and community
        farming assets through incentives and financial support.

        Subsequently, in the budget announcement made on 01.02.2021, it was decided to extend the benefit of the scheme
        to APMCs. Accordingly, modifications in the scheme were carried out with the approval of Cabinet to make it more
        inclusive.

        Credit guarantee coverage will be available for eligible borrowers from this financing facility under Credit
        Guarantee Fund Trust for Micro and Small Enterprises (CGTMSE) scheme for loans up to ₹ 2 crore. The fee for this
        coverage will be paid by the Government. In case of FPOs the credit guarantee may be availed from the facility
        created under FPO promotion scheme of DA&FW.

        All loans under this financing facility will have interest subvention of 3% per annum up to a limit of ₹ 2
        crore. This subvention will be available for a maximum period of 7 years. In case of loans beyond ₹ 2 crore,
        then interest subvention will be limited up to ₹ 2 crore. The extent and percentage of funding to private
        entrepreneurs out of the total financing facility may be fixed by the National Monitoring Committee.
        <div>
            <br>
    </div>
</div>