<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span> Register</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="signupForm">
        <div fxFlex fxLayout="column">
            User Type:
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="userType" (selectionChange)="userType($event.value)">
                        <mat-option value="bidder">Bidder</mat-option>
                        <mat-option value="farmer">Farmer</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            Personal Details:
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Full Name </mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="signupForm.controls.name.touched && signupForm.controls.name.invalid">
                        <span *ngIf="signupForm.controls.name.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.name.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Contact Number </mat-label>
                    <input matInput formControlName="contactNumber" type="number" required>
                    <mat-error
                        *ngIf="signupForm.controls.contactNumber.touched && signupForm.controls.contactNumber.invalid">
                        <span *ngIf="signupForm.controls.contactNumber.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.contactNumber.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Email
                    </mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
                        <span *ngIf="signupForm.controls.email.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            Address Details:
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Address 1</mat-label>
                    <textarea matInput formControlName="address1" required></textarea>
                    <mat-error *ngIf="signupForm.controls.address1.touched && signupForm.controls.address1.invalid">
                        <span *ngIf="signupForm.controls.address1.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.address1.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Address 1</mat-label>
                    <textarea matInput formControlName="address2" required></textarea>
                    <mat-error *ngIf="signupForm.controls.address2.touched && signupForm.controls.address2.invalid">
                        <span *ngIf="signupForm.controls.address2.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.address2.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> City </mat-label>
                    <input matInput formControlName="city" required>
                    <mat-error *ngIf="signupForm.controls.city.touched && signupForm.controls.city.invalid">
                        <span *ngIf="signupForm.controls.city.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.city.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> State </mat-label>
                    <input matInput formControlName="state" required>
                    <mat-error *ngIf="signupForm.controls.state.touched && signupForm.controls.state.invalid">
                        <span *ngIf="signupForm.controls.state.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.state.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Pin code </mat-label>
                    <input matInput formControlName="pinCode" required>
                    <mat-error *ngIf="signupForm.controls.pinCode.touched && signupForm.controls.pinCode.invalid">
                        <span *ngIf="signupForm.controls.pinCode.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.pinCode.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <span *ngIf="hideOrShow">Land Details:</span>
            <div fxLayout="row wrap" *ngIf="hideOrShow">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Area </mat-label>
                    <input matInput formControlName="landArea" required>
                    <mat-error *ngIf="signupForm.controls.landArea.touched && signupForm.controls.landArea.invalid">
                        <span *ngIf="signupForm.controls.landArea.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.landArea.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="landAddress" required></textarea>
                    <mat-error
                        *ngIf="signupForm.controls.landAddress.touched && signupForm.controls.landAddress.invalid">
                        <span *ngIf="signupForm.controls.landAddress.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.landAddress.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Pin code </mat-label>
                    <input matInput formControlName="landPinCode" required>
                    <mat-error
                        *ngIf="signupForm.controls.landPinCode.touched && signupForm.controls.landPinCode.invalid">
                        <span *ngIf="signupForm.controls.landPinCode.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.landPinCode.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            Bank Details:
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Account Number </mat-label>
                    <input matInput formControlName="accountNumber" required>
                    <mat-error
                        *ngIf="signupForm.controls.accountNumber.touched && signupForm.controls.accountNumber.invalid">
                        <span *ngIf="signupForm.controls.accountNumber.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.accountNumber.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> IFSC code </mat-label>
                    <input matInput formControlName="ifscCode" required>
                    <mat-error *ngIf="signupForm.controls.ifscCode.touched && signupForm.controls.ifscCode.invalid">
                        <span *ngIf="signupForm.controls.ifscCode.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.ifscCode.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            Document Upload:
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Aadhaar </mat-label>
                    <input matInput formControlName="aadhaar" required>
                    <mat-error *ngIf="signupForm.controls.aadhaar.touched && signupForm.controls.aadhaar.invalid">
                        <span *ngIf="signupForm.controls.aadhaar.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.aadhaar.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> PAN </mat-label>
                    <input matInput formControlName="pan" required>
                    <mat-error *ngIf="signupForm.controls.pan.touched && signupForm.controls.pan.invalid">
                        <span *ngIf="signupForm.controls.pan.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.pan.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> <span *ngIf="hideOrShow">Certificate</span> <span *ngIf="!(hideOrShow)">Trader
                            License</span></mat-label>
                    <input matInput formControlName="certificate" required>
                    <mat-error
                        *ngIf="signupForm.controls.certificate.touched && signupForm.controls.certificate.invalid">
                        <span *ngIf="signupForm.controls.certificate.errors.required">This field is mandatory.</span>
                        <span *ngIf="signupForm.controls.certificate.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            Password:
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Password
                    </mat-label>
                    <input matInput formControlName="password" type="password" required
                        [type]="password ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="password = !password"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="password">
                        <mat-icon>{{password ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
                        <span *ngIf="signupForm.controls.password.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Confirm Password
                    </mat-label>
                    <input matInput formControlName="confirmPassword" type="password" required
                        [type]="confirmPassword ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPassword">
                        <mat-icon>{{confirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.invalid">
                        <span *ngIf="signupForm.controls.confirmPassword.errors.required">This field is
                            mandatory.</span>
                    </mat-error>
                    <mat-hint *ngIf="validateSubmit() && !(signupForm.controls.confirmPassword.invalid)">
                        <span>New Password & Confirm Password does not match.</span>
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="validateSubmit() || !(signupForm.valid && signupForm.dirty)">
        <mat-icon>save</mat-icon> Signup
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Close
    </button>
</mat-dialog-actions>